name: Deploy Documentation
on:
  push:
    branches: ["master"]
permissions:
  contents: write

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v19
        with:
          extra-conf: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            extra-substituters = https://elara.cachix.org https://tek.cachix.org
            extra-trusted-public-keys = elara.cachix.org-1:d129AMaRCJ6Q86oVUvIccZ1NsRZ6kyL5IkceevfQDWI= tek.cachix.org-1:+sdc73WFq8aEKnrVv5j/kuhmnW2hQJuqdPJF5SnaCBk=

      - name: Build Haddock
        run: |
          nix build .#h2jvm.doc

          mkdir -p public
          cp -rvL result-doc/share/doc/*/html/* public/
          chmod -R +w public

          echo '<meta http-equiv="refresh" content="0; url=H2JVM.html">' > public/index.html


      - name: Deploy to Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./public
