name: Deploy Documentation
on:
  push:
    branches: ["master"]


permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - uses: DeterminateSystems/nix-installer-action@v19
        with:
          extra-conf: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            extra-substituters = https://elara.cachix.org https://tek.cachix.org
            extra-trusted-public-keys = elara.cachix.org-1:d129AMaRCJ6Q86oVUvIccZ1NsRZ6kyL5IkceevfQDWI= tek.cachix.org-1:+sdc73WFq8aEKnrVv5j/kuhmnW2hQJuqdPJF5SnaCBk=

      - name: Build Haddock
        run: |
          nix build .#h2jvm.doc

          mkdir -p public
          cp -rvL result-doc/share/doc/*/html/* public/
          chmod -R +w public


      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './public'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
