name: Deploy Documentation
on:
  push:
    branches: ["master"]


permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Haddock
        run: |
          nix build .#h2jvm.doc

          mkdir -p public
          cp -rvL result-doc/share/doc/*/html/* public/
          chmod -R +w public


      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './public'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
