# credit: https://github.com/tek/polysemy-conc/blob/main/.github/workflows/lower.yaml
name: lower
on: [workflow_dispatch, pull_request, push]
permissions:
  contents: write
  pull-requests: write
  id-token: write
jobs:
  lower-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true


      - id: bounds
        run: nix run .#lower -- --output=ga-pr

      - name: pr
        if: steps.bounds.outputs.commit-message
        uses: peter-evans/create-pull-request@v8
        with: ${{ steps.bounds.outputs }}
